<!-- Lets talk about geddy -->
<div class="hero-unit geddy-welcome-box">
  <h1>Do widzenia...</h1>
  <p>Zostałeś pomyślnie wylogowany.</p>
  <p><%- linkTo('Kliknij tutaj, aby zalogować się ponownie.', loginPath) %></p>
</div>
