html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 120px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;

}
.node-logo{
    height: 50px;
    margin-top: -20px;
    float: right;
}
.alert-error{
    background-color:  rgba(190,50,0,1);
}
.scroll-wrapper{
    height: 200px;
    overflow-y: auto;
}

@media print{
    .jumbotron { display: none;}
}