<div class="form-group col-md-4">
  <label for="name" class="control-label">Nazwa</label>
  <%- contentTag('input', competition.name, {type:'text', class:'form-control', name:'name'}) %>
</div>
<div class="form-group col-md-4">
  <label for="name" class="control-label">Opis</label>
  <%- contentTag('input', competition.description, {type:'text', class:'form-control', name:'description'}) %>
</div>
<div class="form-group col-md-4">
  <label for="name" class="control-label">Ilość slotów</label>
  <%- contentTag('input', competition.slot, {type:'number', class:'form-control', name:'slot'}) %>
</div>
