<div class="jumbotron">
    <h3>Konta</h3>
    <p>Zarządzaj kontami użytkowników.</p>
</div>
<div class="hero-unit">
  <form id="user-form" class="form-horizontal" action="/users" method="POST">
    <fieldset>
      <legend>Utwórz nowego użytkownika</legend>
      <% if(params.errors) { %>
      <div class="control-group">
        <ul>
        <% for(var err in params.errors) { %>
          <li><%= params.errors[err]; %></li>
        <% } %>
        </ul>
      </div>
      <% } %>

      <%- partial('form', {user: params, currentUser:currentUser}) %>

      <div class="form-actions">
        <%- contentTag('input', 'Dodaj', {type: 'submit', class: 'btn btn-primary col-md-3'}) %>
      </div>
    </fieldset>
  </form>
</div>
