<div class="control-group">
  <label for="licenceNo" class="control-label">licenceNo</label>
  <div class="controls">
    <%- contentTag('input', rower.licenceNo, {type:'text', class:'span6', name:'licenceNo'}) %>
  </div>
</div>
<div class="control-group">
  <label for="lastName" class="control-label">lastName</label>
  <div class="controls">
    <%- contentTag('input', rower.lastName, {type:'text', class:'span6', name:'lastName'}) %>
  </div>
</div>
<div class="control-group">
  <label for="firstName" class="control-label">firstName</label>
  <div class="controls">
    <%- contentTag('input', rower.firstName, {type:'text', class:'span6', name:'firstName'}) %>
  </div>
</div>
<div class="control-group">
  <label for="club" class="control-label">club</label>
  <div class="controls">
    <%- contentTag('input', rower.club, {type:'text', class:'span6', name:'club'}) %>
  </div>
</div>
